$chat-background-color: #293b4c;
$message-background-color: #507495;
$username-time-color: #84b3e1;

#logo {
  text-align: center;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

#site {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100vw;
  min-height: 100vh;
}

#channel-list {
  border-right: 1px solid;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px calc(100% - 200px) 100px;
  overflow-x: hidden;
}

#buttons {
  overflow: scroll;
}

#buttons > button {
  text-align: left;
}

#chat-container {
  background-color: $chat-background-color;
  display: grid;
  grid-template-rows: 5% 85% 10%;
  height: 100vh;
}

#chat {
  flex-direction: column;
  display: flex;
  overflow: scroll;
}

#channel-name {
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 2%;
  font-size: 18px;
}

#form > div {
  background: $chat-background-color;
  width: 100%;
  height: 90%;
  box-sizing: border-box;
}

.input-group {
  border: none;
  outline: none;
}

%form {
  // #1b273
  color: white !important;
  width: 100%;
  height: 100%;
  background-color: #364d63 !important;
  resize: none;
  outline: none !important;
  border: none !important;
  box-sizing: border-box;
}

// #form{
//   width: 100%;
//   height: 100%;
// }

#textarea {
  width: 95%;
  overflow: scroll;
  margin-left: 2.5%;
  margin-bottom: 10px;
  max-height: 20vh;
  color: white !important;
  background-color: #364d63 !important;
  outline: none !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 12px;
  box-sizing: border-box;
  resize: none;
}

%message {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 80%;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: $message-background-color;
  color: #d9d9d9;
}

.user-message {
  display: grid;
  grid-template-columns: 25% 75%;
  text-align: justify;
}

.others-message {
  display: grid;
  grid-template-columns: 75% 25%;
  text-align: justify;
}

.user-message > .message {
  @extend %message;
  margin-right: 50px;
}

.others-message > .message {
  @extend %message;
  margin-left: 50px;
}

.username {
  color: $username-time-color;
  font-size: 100%;
  font-weight: bold;
}

.time {
  color: $username-time-color;
  font-size: 80%;
}

#channel-creation {
  color: white;
  padding: 10px;
  display: flex;
  align-self: end;
  flex-direction: column;
}

.btn-color {
  color: white;
}

#logout:hover {
  color: white;
}

#new-channel-name {
  padding-left: 10px;
}
